@import "tailwindcss";

:root {
  --background: #E2E8F0; /* slate200 */
  --mainBackground: #ffffff; /* white */
  --menuBackground: var(--background);
  --color-text: #364153; /* gray700 */
  --color-title: #101828; /* gray900 */
  --color-title-secondary: #3F3F47; /* zinc700 */
  --color-text-button: #ffffff; /* white */
  --color-text-menu: var(--color-text-title);
  --color-button: #2B7FFF;  /* blue500 */
  --color-button-hover: #1D4ED8; /* blue700 */
  --color-button-active: #1E40AF; /* blue800 */
  --color-link: var(--color-button);
  --color-horizontal-line: #90A1B9; /* gray400 */
  --color-title-underline: #FFCCD3; /* rose200 */
  --color-submenu: #F8FAFC; /* slate50 */

  --font-text: var(--font-sans);
  --font-title: var(--font-sora);
  --font-button: var(--font-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-color-text: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* gray800 */
    --mainBackground: #171717; /* gray700 */
    --color-text: #ffffff; /* white */
    --color-title: #ffffff; /* white */
    --color-title-secondary: #d1d5db; /* gray300 */
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: var(--font-text), serif;
  font-size: 16px;
  line-height: 1.4;
} 

main {
  background: var(--mainBackground);
}

h1, h2, h3 {
  font-family:  var(--font-title), serif;
}

h1 {
  color: var(--color-title);
  @apply font-semibold text-3xl sm:text-4xl text-shadow-2xs pb-1;
}

h2, h3 {
  color: var(--color-title-secondary);
  @apply font-semibold text-2xl;
}

button, .button {
  font-family: var(--font-button), monospace;
  background-color: var(--color-button);
  color: var(--color-text-button);
  @apply font-medium text-xl px-6 py-2 mt-2 rounded-4xl hover:bg-[var(--color-button-hover)] active:bg-[var(--color-button-active)];
}

.homeLayout header {
  @apply sm:hidden;
}
.homeLayout h1 {
  @apply pb-4 text-center;
}

.homeLayout p {
  @apply text-center;
}
.homeLayout footer {
  @apply sm:bg-transparent bg-[var(--mainBackground)];
}

.menu-item {
  color: var(--color-text-menu);
  @apply text-2xl;
}







